@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

/**
 * Base Elements
 */

* {
  margin: 10px;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

.button {
  background-color: blue;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}

.button:hover {
  background-color: darkblue;
  color: red;
}

.tomster {
  background: url("/public/assets/images/teaching-tomster.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  display: block;
}

.jumbo {
  width: 100%;
  min-height: 200px;
}
