<Jumbo>
    <h2 style="color: red">Welcome to Super <span style="text-decoration: italic">(nice)</span> Rentals!!!!</h2>
    <p>We hope you find exactly what you're looking for :)</p>
</Jumbo>

<div class="rentals">
  <ul class="results">
    <li><Rentals @rental={{model}} /></li>
    <li><Rentals @rental={{model}} /></li>
    <li><Rentals @rental={{model}} /></li>
  </ul>
</div>